@media only screen and (max-width: 599px) {
  :root {
    --columns: 1;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --columns: 2;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    --columns: 3;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --columns: 4;
  }
}

:root {
  --gutter: 1rem;

  --accentColor: #4A9AC4;
}