@font-face {
  font-family: 'MontserratRegular';
  src: url('/static/fonts/montserrat-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratmedium';
  src: url('/static/fonts/montserrat-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('/static/fonts/montserrat-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontSerratBold';
  src: url('/static/fonts/montserrat-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBodoni';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/librebodoniv2002-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'LibreBodoniItalic';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/librebodoniv2002-italic.woff2) format('woff2');
}

/* 6 8 10 13 16 21 26 34 42 */

:root {
  --xHeightAdjustment: 1.17;
  --sans: MontserratRegular, sans-serif;
  --sansMedium: montserratmedium;
  --sansSemiBold: MontserratSemiBold;
  --sansBold: MontserratSemiBold, sans-serif;
  --serif: LibreBodoni, sans-serif;
  --serifItalic: LibreBodoniItalic, serif;
  --fontSizeSerif0: calc(1rem * var(--xHeightAdjustment));

  --fontSize1: 1.31rem;
  --fontSizeSerif1: calc(1.31rem * var(--xHeightAdjustment));

  --fontSize2: 1.62rem;
  --fontSizeSerif2: calc(1.62rem * var(--xHeightAdjustment));
}

body {
  font-family: var(--LibreBodoni);
  line-height: 1.5rem;
}
