:root {
  --black: #443430;
  --red: #BF402B;
  --gold: #CEA600;
  --turquois: #4D9BA3;
  --emerald: #216554;
  --blue: #262F66;
  --white: #FFFAF2;

  --accentColor: var(--turquois);

  --shopColor: #E30020;

  --categoryColor-all: var(--turquois);
  --categoryColor-hexagonals: var(--red);
  --categoryColor-octagonals: var(--blue);
  --categoryColor-dodecagonals: var(--emerald);
/*  --categoryColor-stars-1: var(--smaragd);
  --categoryColor-octagons-squares: var(--golden);
  --categoryColor-stars-2: var(--blueGray);
  --categoryColor-heptagonals: var(--sand);
  --categoryColor-pentagonals: var(--grayGreen);*/
}
